/* styles.css or component-specific CSS file */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 15%;
}

.card {
    width: 100%;
    max-width: 500px; /* Adjust as needed */
    max-height: 400px;
    margin: 20px; /* Optional: Adjust margin to control spacing around the card */
}

.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-custom {
    margin: 0 5px; /* Optional: Space between buttons */
}
.control-label{
    margin-left: 5px;
    margin-right: 5px;
}